{% extends 'main/layout.html' %}

{% block title %} {{ job.title }} {% endblock %}

{% block main %} 
    <h1> {{ job.title }}</h1>
    <p> описание: {{ job.desc }}</p>
    <p> тип работы: {{ job.get_type_of_job_display }}</p>
    <p> заработная плата: {{ job.salary }}</p>
    <p> дата создания: {{ job.date }}</p>
    {% if user.is_authenticated and not perms.jobs.add_jobs %}
        <a href="{% url 'job-apply' job.id %}" class="btn btn-outline-dark btn-sm"> подать заявку </a>
    {% endif %}
    {% if user.is_authenticated and perms.jobs.add_jobs %}
        {% if applications %}
            <p>заявки на вакансию: </p>
            {% for app in applications %}
                <li>
                    {{ app.user.username }} — {{ app.date_applied|date:"d.m.Y H:i" }}
                    <p>резюме: <a href="{{ app.resume.url }}" target="_blank">Скачать</a></p>
                    <p>сопроводительное письмо: {{ app.cover_letter }}</p>
                </li>
            {% endfor %}
        {% endif %}
        <a href="{% url 'job-update' job.id %}" class="btn btn-outline-dark btn-sm"> редактировать вакансию </a>
        <a href="{% url 'job-delete' job.id %}" class="btn btn-outline-danger btn-sm"> удалить вакансию </a>
    {% endif %}
{% endblock %}