{% extends 'main/layout.html' %}

{% block title %}  {% endblock %}

{% block main %} 
    <h1>поиск</h1>
    <form method="get">
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-dark btn-sm">Искать</button>
    </form>

    {% if jobs is not None %}
        <h2>результаты:</h2>
        {% if jobs %}
            {% for job in jobs %}
                <li>
                    <a href="{{ job.get_absolute_url }}">{{ job.title }}</a>
                    ({{ job.get_type_of_job_display }})
                </li>
            {% endfor %}
        {% else %}
            <p>ничего не найдено.</p>
        {% endif %}
    {% endif %}
{% endblock %}