{% extends 'main/layout.html' %}

{% block title %}  {% endblock %}

{% block main %} 
    <h1>Поиск</h1>
    <form method="get" action="{% url 'search' %}">
        {{ form.as_p }}
        <button type="submit">Искать</button>
    </form>

    {% if jobs is not None %}
        <h2>Результаты:</h2>
        {% if jobs %}
            {% for job in jobs %}
                <li>
                    <a href="{{ job.get_absolute_url }}">{{ job.title }}</a>
                    ({{ job.get_type_of_job_display }})
                </li>
            {% endfor %}
        {% else %}
            <p>Ничего не найдено.</p>
        {% endif %}
    {% endif %}
{% endblock %}